@model WebRezervace.Models.Uzivatel
@{
    ViewData["Title"] = "Profil";
}

<div>
    @if (!Model.AdminOpravneni)
    {
        <div id="udaje">
            <form action="/Uzivatel/ZmenaUdaju" method="post">
                <h3>Jméno</h3>
                <h3>Příjmení</h3>
                <h3>Telefonní číslo</h3>
                <input type="text" name="jmeno" placeholder="Jméno..." value="@Model.Jmeno" />
                <input type="text" name="prijmeni" placeholder="Příjmení..." value="@Model.Prijmeni" />
                <input type="number" name="tel" min="0" placeholder="Telefonní číslo..." value="@Model.Tel" />
                <h3>E-mail</h3>
                <input type="email" name="email" placeholder="E-mail..." value="@Model.Email" />
                <input type="submit" value="Změnit Údaje" />
            </form>
            <h3>Změna hesla</h3>
            <form action="/Uzivatel/ZmenaHesla" method="post">
                <input type="password" name="stavajici_heslo" placeholder="Staré heslo..." />
                <input type="password" name="heslo" placeholder="Nové heslo..." />
                <input type="password" name="kontrolni_heslo" placeholder="Kontrolní heslo..." />
                <input type="submit" value="Změnit Heslo" />
            </form>
        </div>
    }
    else
    {
        @:<div id="udaje">
            <form action="/Uzivatel/ZmenaUdaju" method="post">
                <input type="email" name="email" placeholder="E-mail..." value="@Model.Email" />
                <input type="submit" value="Změnit Udaje" />
            </form>
            <h3>Změna hesla</h3>
            <form action="/Uzivatel/ZmenaHesla" method="post">
                <input type="password" name="stavajici_heslo" placeholder="Staré heslo..." />
                <input type="password" name="heslo" placeholder="Nové heslo..." />
                <input type="password" name="kontrolni_heslo" placeholder="Kontrolní heslo..." />
                <input type="submit" value="Změnit Heslo" />
            </form>
        @:</div>
    }
    <p id="chybova-hlaska">@ViewData["Chyba"]</p>
    <div>
        <h3>Aktuální Rezervace</h3>
        <div id="rezervace-popis-0" style="display:none"></div>
        @{int indexPopisu = 0;}
        @foreach (WebRezervace.Models.Rezervace rezervace in (Model.AdminOpravneni ? ViewBag.Data as List<WebRezervace.Models.Rezervace> : Model.Rezervace))
        {
            if (rezervace.Datum > DateTime.Now)
            {
                indexPopisu++;
                @:<div class="rezervace" style="border-color:@(rezervace.ZpravaProAdmina.Length > 0 ? "rgb(220, 152, 27)" : "")" onclick="Popis(@(rezervace.ZpravaProAdmina.Length > 0 ? indexPopisu : 0))">
                    <div>Jméno: @rezervace.Jmeno @rezervace.Prijmeni</div>
                    <div>
                        E-mail: @if (rezervace.Email.Length > 0)
                        {@rezervace.Email}
                    </div>
                    <div>
                        Tel: @if (rezervace.Tel != 0)
                        {@rezervace.Tel}
                    </div>
                    <div>Počet osob: @rezervace.PocetOsob</div>
                    <div>Kdy: @rezervace.Datum - @(rezervace.Datum.TimeOfDay + TimeSpan.FromMinutes(rezervace.Doba))</div>
                    <a href="/Uzivatel/OdstranRezervaci/@rezervace.ID">X</a>
                @:</div>
                @if (rezervace.ZpravaProAdmina.Length != 0)
                {<div id="rezervace-popis-@indexPopisu" class="hidden">@rezervace.ZpravaProAdmina</div>}
            }
        }
    </div>
    <div>
        <h3>Historie</h3>
        @foreach (WebRezervace.Models.Rezervace rezervace in (Model.AdminOpravneni ? ViewBag.Data as List<WebRezervace.Models.Rezervace> : Model.Rezervace))
        {
            if (rezervace.Datum < DateTime.Now)
            {
                indexPopisu++;
                @:<div class="rezervace" style="border-color:@(rezervace.ZpravaProAdmina.Length > 0 ? "orange" : "")" onclick="Popis(@(rezervace.ZpravaProAdmina.Length > 0 ? indexPopisu : 0))">
                    <div>Jméno: @rezervace.Jmeno @rezervace.Prijmeni</div>
                    <div>
                        E-mail: @if (rezervace.Email.Length > 0)
                        {@rezervace.Email}
                    </div>
                    <div>
                        Tel: @if (rezervace.Tel != 0)
                        {@rezervace.Tel}
                    </div>
                    <div>Počet osob: @rezervace.PocetOsob</div>
                    <div>Kdy: @rezervace.Datum - @(rezervace.Datum.TimeOfDay+TimeSpan.FromMinutes(rezervace.Doba))</div>
                    <a href="/Uzivatel/OdstranRezervaci/@rezervace.ID">X</a="">
                @:</div>
                @if (rezervace.ZpravaProAdmina.Length != 0)
                {<div id="rezervace-popis-@indexPopisu" class="hidden">@rezervace.ZpravaProAdmina</div>}
            }
            else break;
            }
        </div>
    <script>
        function Popis(index) {
            if (document.getElementById("rezervace-popis-"+index).className == "hidden")
                document.getElementById("rezervace-popis-"+index).className = "show";
            else
                document.getElementById("rezervace-popis-"+index).className = "hidden";}
    </script>
</div>