@model WebRezervace.Models.Rezervace
@using WebRezervace.Data
@{
    ViewData["Title"] = "Rezervace";
}

<div>
    <form action="/Rezervace/Formular" method="post">
        <h2>Rezervační Formulář</h2>
        <span class="must"> Povinné pole</span>
        <input type="text" name="jmeno" placeholder="Jméno..." value="@Model.Jmeno" class="must" />
        <input type="text" name="prijmeni" placeholder="Příjmení..." value="@Model.Prijmeni" class="must" />
        <input type="email" name="email" placeholder="E-mail..." value="@Model.Email" />
        <input type="number" name="tel" placeholder="Telefonní číslo..." value="@Model.Tel" />
        <input type="number" min="1" max="20" name="pocet_osob" placeholder="Počet osob..." value="@Model.PocetOsob" class="must" />
        <input type="date" min="@DateTime.Now.Year-@if (DateTime.Now.Month < 10) { @(0) }@DateTime.Now.Month-@DateTime.Now.Day" name="datum" class="must" />
        <input type="time" name="casOd" min="09:00" max="16:00" value="09:00" step="3600" class="must" />
        <input type="number" name="doba" min="1" max="7" value="@Model.Doba" />
        <textarea name="zprava" placeholder="Chcete nám něco sdělit?">@Model.ZpravaProAdmina</textarea>
        <span>Cena</span>
        <input type="submit" value="Odeslat" />
    </form>
    <div>
        @ViewData["Chyba"]
    </div>
    @Html.Partial("~/Views/Shared/_CalendarSheet.cshtml")
</div>
